{% extends 'base.html' %}
{% set active_page = "Project" %}

{% block title %}
    Project         
{% endblock %}


{% block content %}

    <div class="app-content" dir="rtl">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card todo-container">
                            <div class="row">
                                <div class="col-xl-4 col-xxl-3">
                                    <div class="todo-menu">

                                        <h5 class="p-font todo-menu-title">وضعیت پروژه‌ها</h5>
                                        <ul class="list-unstyled todo-status-filter">


                                            <li>
                                                <a href="{{ url_for( 'project.project' ) }}" {% if page_name=="all" %} class="p-font active" {% else %} class="p-font" {% endif %}>
                                                    <i class="material-icons-outlined">density_small</i>
                                                    همه پروژه‌ها
                                                    <span class="badge badge-dark float-start">{{ num|length }}</span>
                                                </a>
                                            </li>


                                            <li>
                                                <a href="{{ url_for( 'project.project_in_progress' ) }}" {% if page_name=="in_progress" %} class="p-font active" {% else %} class="p-font" {% endif %}>
                                                    <i class="material-icons-outlined">more_horiz</i>
                                                    پروژه‌های در حال انجام
                                                    <span class="badge badge-primary float-start">{{ num|selectattr('status', 'equalto', 'در حال انجام')|list|length }}</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ url_for( 'project.project_done' ) }}" {% if page_name=="done" %} class="p-font active" {% else %} class="p-font" {% endif %}>
                                                    <i class="material-icons-outlined">done_all</i>
                                                    پروژه‌های خاتمه یافته
                                                    <span class="badge badge-success float-start">{{ num|selectattr('status', 'equalto', 'خاتمه یافته')|list|length }}</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ url_for( 'project.project_proposal' ) }}" {% if page_name=="proposal" %} class="p-font active" {% else %} class="p-font" {% endif %}>
                                                    <i class="material-icons-outlined">assignment</i>
                                                    پیشنهاده
                                                    <span class="badge badge-danger float-start">{{ num|selectattr('status', 'equalto', 'پروپوزال')|list|length }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="{{ url_for( 'project.create_project' ) }}" class="p-font-b btn btn-primary d-block m-b-lg">ثبت پروژه جدید</a>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-xxl-9">
                                    <div class="todo-list">
                                        {% include 'includes/messages.html' %}
                                        <ul class="list-unstyled">
                                            {% for project in projects.items %}
                                                <li class="todo-item">
                                                    <div class="col-11 todo-item-content">
                                                        <span class="p-font-b todo-item-title">
                                                            <i class="material-icons-outlined">minimize</i>
                                                            {{ project.title }}
                                                            {% if project.status == "خاتمه یافته" %}
                                                                <span class="p-font-b badge badge-style-bordered rounded-pill badge-success">{{ project.status }}</span>
                                                            {% elif project.status == "در حال انجام" %}
                                                                <span class="p-font-b badge badge-style-bordered rounded-pill badge-info">{{ project.status }}</span>
                                                            {% elif project.status == "پروپوزال" %}
                                                                <span class="p-font-b badge badge-style-bordered rounded-pill badge-danger">{{ project.status }}</span>
                                                            {% else %}
                                                                <span class="p-font-b badge badge-style-bordered rounded-pill badge-dark">{{ project.status }}</span>
                                                            {% endif %}

                                                        </span>
                                                        <div class="p-font pt-2 px-4">
                                                            <span class="p-font badge rounded-pill badge-primary mx-1">
                                                                <i class="align-middle material-icons md-18">account_circle</i>
                                                                {{ project.person }}
                                                            </span>
                                                            <span class="p-font-b badge rounded-pill badge-secondary mx-1">
                                                                <i class="align-middle material-icons md-18">corporate_fare</i>
                                                                {{ project.organization }}
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="col-1 todo-item-actions">
                                                        <a href="{{ url_for( 'project.project_update', project_id=project.id ) }}" class="todo-item-edit"><i class="material-icons-outlined no-m">edit</i></a>
                                                        
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="pagination" dir="rtl">
                                            {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                                {% if page_num %}
                                                    {% if projects.page == page_num %}
                                                        <li class="page-item">
                                                            {% if page_name=="all" %}
                                                                <a class="btn btn-primary mb-4" href="{{ url_for('project.project', page=page_num) }}">{{ page_num }}</a>
                                                            {% elif page_name=="in_progress" %}
                                                                <a class="btn btn-primary mb-4" href="{{ url_for('project.project_in_progress', page=page_num) }}">{{ page_num }}</a>
                                                            {% elif page_name=="done" %}
                                                                <a class="btn btn-primary mb-4" href="{{ url_for('project.project_done', page=page_num) }}">{{ page_num }}</a>
                                                            {% elif page_name=="proposal" %}
                                                                <a class="btn btn-primary mb-4" href="{{ url_for('project.project_proposal', page=page_num) }}">{{ page_num }}</a>
                                                            {% else %}
                                                                <a class="btn btn-primary mb-4" href="{{ url_for('project.project', page=page_num) }}">{{ page_num }}</a>
                                                            {% endif %}
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            {% if page_name=="all" %}
                                                                <a class="btn btn-outline-primary mb-4" href="{{ url_for('project.project', page=page_num) }}">{{ page_num }}</a>
                                                            {% elif page_name=="in_progress" %}
                                                                <a class="btn btn-outline-primary mb-4" href="{{ url_for('project.project_in_progress', page=page_num) }}">{{ page_num }}</a>
                                                            {% elif page_name=="done" %}
                                                                <a class="btn btn-outline-primary mb-4" href="{{ url_for('project.project_done', page=page_num) }}">{{ page_num }}</a>
                                                            {% elif page_name=="proposal" %}
                                                                <a class="btn btn-outline-primary mb-4" href="{{ url_for('project.project_proposal', page=page_num) }}">{{ page_num }}</a>
                                                            {% else %}
                                                                <a class="btn btn-outline-primary mb-4" href="{{ url_for('project.project', page=page_num) }}">{{ page_num }}</a>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% else %}
                                                    ...
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}