{% extends 'base.html' %}
{% set active_page = "Project" %}

{% block title %}
    Project         
{% endblock %}


{% block content %}
    <div class="app-content" dir="rtl">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="p-font-b card-title">ثبت پروژه | پروپوزال جدید</h5>
                            </div>
                            <div class="card-body">
                                <div class="example-container">
                                    <div class="example-content">
                                        <form action="" method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                                            {{ form.csrf_token }}
                                            <div class="col-md-12 p-font-b">
                                                {{ form.title.label(class="form-label") }}
                                                {{ form.title(class="form-control m-b-md mb-0", placeholder="عنوان پروژه | پروپوزال") }}
                                                {% if form.title.errors %}
                                                    {% for error in form.title.errors %}
                                                        <div class="text-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 p-font-b">
                                                {{ form.organization.label(class="form-label mt-4") }}
                                                {{ form.organization(class="form-control m-b-md mb-0", placeholder="کارفرما") }}
                                                {% if form.organization.errors %}
                                                    {% for error in form.organization.errors %}
                                                        <div class="text-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 p-font-b">
                                                {{ form.person.label(class="form-label mt-4") }}
                                                {{ form.person(class="form-control m-b-md mb-0", placeholder="مجری طرح") }}
                                                {% if form.person.errors %}
                                                    {% for error in form.person.errors %}
                                                        <div class="text-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 p-font-b">
                                                {{ form.status.label(class="form-label mt-4") }}
                                                <select class="text-center form-select" type="search" name="status" placeholder="وضعیت طرح">
                                                    <option value='پروپوزال' {% if form.status == "پروپوزال" %} selected {% endif %}>پروپوزال</option>
                                                    <option value='خاتمه یافته' {% if form.status == "خاتمه یافته" %} selected {% endif %}>خاتمه یافته</option>
                                                    <option value='در حال انجام' {% if form.status == "در حال انجام" %} selected {% endif %}>در حال انجام</option>
                                                </select>
                                                {% if form.status.errors %}
                                                    {% for error in form.status.errors %}
                                                        <div class="text-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="p-font-b auth-submit text-center">
                                                <button class="btn btn-primary" type="submit" value="CreateProject">بروزرسانی پروژه | پروپوزال</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}