<div class="app-sidebar">

    <div class="logo">
        <a href="{{ url_for( 'dashboard.dashboard' ) }}" class="logo-icon"><span class="logo-text">WERI</span></a>
        <div class="sidebar-user-switcher user-activity-online">

                {% if current_user.avatar %}
                    <img src="{{ url_for('static', filename='uploads/' + current_user.avatar) }}">
                {% else %}
                    <img src="{{ url_for('static', filename='images/avatars/avatar.png') }}">
                {% endif %}
                <span class="activity-indicator"></span>
                <span class="user-info-text">{{ current_user.username }}<br><span class="user-state-info">On a call</span></span>

        </div>
    </div>

    <div class="app-menu">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                Apps
            </li>
            <li class="{{ 'active-page' if active_page == 'Dashboard' else '' }}">
                <a href="{{ url_for( 'dashboard.dashboard' ) }}">
                    <i class="material-icons-two-tone">dashboard</i>
                    Dashboard
                </a>
            </li>
            <li class="{{ 'active-page' if active_page == 'Project' else '' }}">
                <a href="{{ url_for( 'project.project' ) }}">
                    <i class="material-icons-two-tone">view_day</i>
                    Project
                </a>
            </li>
        </ul>
    </div>
    
</div>