<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Pooya Shirazi Dashboard">
        <meta name="keywords" content="Pooya, Shirazi, Dashboard">
        <meta name="author" content="stacks">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='plugins/perfectscroll/perfect-scrollbar.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='plugins/pace/pace.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='plugins/highlight/styles/github-gist.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/avatars/WERI.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/avatars/WERI.png') }}" />

        <title>
            {% block title %}{% endblock %}
        </title>

    </head>

    <body>

        <div class="app full-width-header align-content-stretch d-flex flex-wrap">
            
            {% include 'includes/sidebar.html' %}
            
            <div class="app-container">

                {% include 'includes/header.html' %}
                
                {% block content %}{% endblock %}

            </div>

        </div>
        
        <script src='{{ url_for("static", filename="plugins/jquery/jquery-3.5.1.min.js") }}'></script>
        <script src='{{ url_for("static", filename="plugins/bootstrap/js/popper.min.js") }}'></script>
        <script src='{{ url_for("static", filename="plugins/bootstrap/js/bootstrap.min.js") }}'></script>
        <script src='{{ url_for("static", filename="plugins/perfectscroll/perfect-scrollbar.min.js") }}'></script>
        <script src='{{ url_for("static", filename="plugins/pace/pace.min.js") }}'></script>
        <script src='{{ url_for("static", filename="plugins/apexcharts/apexcharts.min.js") }}'></script>
        <script src='{{ url_for("static", filename="js/main.min.js") }}'></script>
        <script src='{{ url_for("static", filename="js/custom.js") }}'></script>
        <script src='{{ url_for("static", filename="js/pages/dashboard.js") }}'></script>

    </body>

</html>